@import "tailwindcss";
@import "bootstrap";

.btn-primary {
  border-color: #4CAF50 !important;
  background-color: #4CAF50 !important;
}

.btn-primary:hover {
  background-color: #338837 !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.swal2-confirm {
  background-color: #4CAF50 !important;
  border-radius: 12px !important;
  padding: 10px 20px !important;
  font-weight: 500 !important;
}

.swal2-confirm:hover {
  background-color: #43A047 !important;
}

.swal2-cancel {
  border-radius: 12px !important;
  padding: 10px 20px !important;
}



/* Bot nav CSS */
#bottom-nav {
  transform: translateY(0);
  transition: transform 0.15s ease-in-out;
  will-change: transform;
}

#bottom-nav.nav-hidden {
  transform: translateY(100%);
}
